<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://github.com/bitbloxhub.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
        <link href="output.css" rel="stylesheet">
        <script type="module" src="index.js"></script>
		<title>bitbloxhub's place</title>
	</head>
	<body class="bg-white dark:bg-slate-800 font-roboto">
        <div class="flex flex-col justify-center items-center">
            <div class="flex flex-col justify-center text-lg items-center">
                <h1 class="text-2xl font-pacifico">bitbloxhub's place</h1>
                <div class="inline-block">
                    <a href="https://github.com/bitbloxhub">github</a> |
                    <a href="https://scratch.mit.edu/users/jonahgam">scratch</a> |
                    <a href="https://bitbloxhub.github.io/my/homepage.html">old website</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center h-screen">
            <img src="https://github.com/bitbloxhub.png" class="place-content-center" alt="bitbloxhub profile" id="profile">
            <div class="text-lg">
                <a href="https://github.com/bitbloxhub/learning-vue">learning vue (with a wordle clone!)</a> |
                <a href="https://github.com/bitbloxhub/zalgoify">z︨︢︠︢︮a︪︠︠︡︯l︪︨︯︣︤g︪︡︢︮︯o︬︧︨︬︬i︩︧︮︮︢f︧︩︢︠︢y︫︨︨︩︦</a> |
                <a href="https://github.com/bitbloxhub/redis-bomb">redis bomb</a>
            </div>
        </div>
	</body>
</html>
