---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
	<main class="m-auto p-6 max-w-6xl text-center">
		<h1>Welcome to bitbloxhub's website</h1>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
