---
import Layout from "../layouts/Layout.astro"
import Greeting from "../components/Greeting.svelte"
---

<Layout title="bitbloxhub's website">
	<main class="m-auto p-6 max-w-6xl text-left">
		<h1 class="text-5xl font-extrabold m-0">Welcome to bitbloxhub's website</h1>
		<Greeting client:load greetings={["hello", "welcome", "こんにちは"]}></Greeting>
	</main>
</Layout>
