---
const { title, url, pubDate, renderPromise } = Astro.props
const { remarkPluginFrontmatter } = await renderPromise
---

<li>
	<a href={url}>{title}</a> <br />
	Approximately {remarkPluginFrontmatter.minutesRead}, published {pubDate.toISOString().slice(0,10)}
</li>