--- 
import Header from "../components/Header.astro"
interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="https://github.com/bitbloxhub.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://instant.page/5.2.0" type="module" />
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
