---
import Layout from "./Layout.astro"
const { frontmatter, remarkPluginFrontmatter } = Astro.props
---
<Layout title={frontmatter.title}>
	<main class="m-auto p-6 max-w-6xl text-left">
		<h1>{frontmatter.title}</h1>
		<p>Written by {frontmatter.author}</p>
		<p>Published on {frontmatter.pubDate.toISOString().slice(0,10)}</p>
		<p>Approximately {remarkPluginFrontmatter.minutesRead}</p>
		<slot />
	</main>
</Layout>